<div class="wp-post__wrapper {{#unless selected}} out-of-focus{{/unless}}">
  <div class="click-block"></div>
  <article class="panel article" id="{{slug}}">
  	<div class="panel-content">
      <div class="title-bar">
        <h1>{{title}}</h1>
        <h4 class="date">{{#format_wp_date date}}{{date}}{{/format_wp_date}} </h4>
      </div>
      <div class="social-bar">
        {{> article_control_bar }}
      </div>

      <div class="content">{{{content}}}</div>

        
        {{#has_tags tags}}
          <div class="tags-bar">
            <p>Tags:</p>
              <ul>
              {{#each tags}}
                {{#if name }}
                  <li><a href="#/#">{{name}}</a></li>
                {{/if}}

                {{#if title }}
                  <li><a href="#/#">{{title}}</a></li>
                {{/if}}
              {{/each}}
              </ul>
            
          </div>
        {{/has_tags}}
    </div>
  </article>
  <div class="comments">Comments...</div>
</div>